* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(20, 20, 20);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(182, 182, 182);
}

input {
    padding: 1px 8px;
}

textarea {
    padding: 1px 8px;
    resize: none;
}

button {
    cursor: pointer;
    padding: 2px;
    width: 100px;
}

ul {
    list-style-type: none;
}

li {
    line-height: 2;
}

h1 {
    font-size: 48px;
}

h3, .individual-job, .individual-education {
    margin-bottom: 12px;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 1100px;
    text-align: center;
}

.App {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 816px;
    height: 1056px;
    text-align: left;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.section {
    margin: 24px;
}

.section:hover, .header-section:hover {
    background-color: rgb(230, 230, 230);
}

.edit {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 12px;
    top: 132px;
    max-width: 500px;
    padding: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
}

.close {
    display: none;
}

.form-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
}

.name, .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    color: white;
}

.contact-details {
    line-height: 2;
}

#header-section {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(47, 47, 71);
}

#main-content-section {
    grid-column: 2 / 4;
    grid-row: 2 / 8;
    margin-right: 36px;
}

#side-content-section {
    grid-column: 1 / 2;
    grid-row: 2 / 8;
    margin-left: 36px;
}